.header-container{
    margin: 8px 320px 0px 320px;
    display: flex;
    justify-content: space-between;
}

.logo-search-cont{
    display: flex;
    align-items: center;
    gap: 89px;
}

.logo-search-cont img{
    width: 146px;
    height: 93px;
}

.search-cont{
    width: 414px;
    height: 41px;
    background-color: #D3E888;
    border-radius: 20.5px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    color: #706868;
}

.search-cont.icon{
    width: 20px;
    height: 28px;
    margin-right: 8px;
}

.search-cont input{
    width: 350px;
    height: 41px;
    border-radius: 20.5px;
    background-color: transparent;
}

.search-cont input:focus{
    outline: none;
}

.social-icon-cont{
    display: flex;
    align-items: center;
    gap: 25px;
}
.headerIcon{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #C4E454;
    transition-duration: .5s;
}

.headerIcon-size{
    width: 30px;
    height: 30px;
}

.headerIcon:hover{
    background-color: #9ebe2b;
    transform: scale(1.1);
}





